/* Bitter (descending weights) for headings */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');


/* JetBrains Mono for code blocks */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* Lato for main content */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Apply Lato font to main content */
body, .bd-main {
    font-family: "Lato", sans-serif;
    line-height: 1.6;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Apply JetBrains Mono to code blocks and highlights */
code, pre, .highlight {
    font-family: "JetBrains Mono", monospace !important;
    font-optical-sizing: auto;
    font-style: normal;
}


/* Improve headings using descending weights of the Bitter Google Font*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

p {
    font-size: 16px;
    line-height: 1.7;
}